@model Employee

@{
    ViewData["Title"] = "Employee Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}

<h1>@ViewData["PageTitle"]</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="card-body text-center">
                <!--asp-append-version is a Tag Helper that will append a unique hash value to the src attribute of img
                    if at all the content of image changes on the server, it will download from the server 
                    or else it will serve the image from the browser cache. 
                    This behaviour is called as Cache Busting behaviour-->
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                <h4>Employee ID: @Model.Id</h4>
                <h4>Email: @Model.Email</h4>
                <h4>Department: @Model.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
<script src="~/js/CustomScript.js"></script>
}